.container {
  width: 100%;
  height: 100vh;
}

.info {
  width: 90%;
  height: 44vh;
  background-color: #F3F0F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: -40px 0 0 0;
  border-radius: 10px;
  font-family: 'Montserrat';
}

.info .items {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}



.dark_g{
    color: #9eabc4;
}

.primary{
    color: var(--primary);
}

.success{
    color: #0EBC29;
    font-family: "Montserrat";
}


